# Welcome to Jekyll!
#
# This config file is meant for settings that affect your entire site, values
# which you are expected to set up once and rarely need to edit after that.
# For technical reasons, this file is *NOT* reloaded automatically when you use
# `jekyll serve`. If you change this file, please restart the server process.

remote_theme: "mmistakes/jekyll-theme-basically-basic"

lang: en-UK
title: Home of Jonas Glesaaen
email: jonas@glesaaen.com
description: Hopefully useful to someone, somewhere
baseurl: # the optional subpath of your site, e.g. "/blog"
url: https://irubataru.com # the base hostname & protocol for your site e.g. "https://mmistakes.github.io"
author:
  name: Jonas Rylund Glesaaen
  twitter: irubataru
  picture: /assets/images/robo-maid.gif
twitter_username: irubataru
github_username: irubataru
logo: /assets/images/Penguin128.gif # path of site logo, e.g. "/assets/images/logo.png"

# Build settings
markdown: kramdown
highlighter: rouge

plugins: # previsously gems
  - jekyll-feed
  - jekyll-sitemap
  - jekyll-paginate
  - jemoji
feed:
  path: atom.xml

# Sass/SCSS
sass:
  sass_dir: _sass
  style: compressed # http://sass-lang.com/documentation/file.SASS_REFERENCE.html#output_style

# Outputting
permalink: /:categories/:title/

# Pagination - https://jekyllrb.com/docs/pagination/
paginate: 5
paginate_path: /page:num/

# Exclude from processing.
exclude:
  - .asset-cache
  - .bundle
  - .lvimrc
  - .codeclimate.yml
  - .editorconfig
  - .gitattributes
  - .jekyll-assets-cache
  - .sass-cache
  - .scss-lint.yml
  - CHANGELOG
  - Gemfile
  - Gemfile.lock
  - LICENSE
  - node_modules
  - Rakefile
  - README

# Front Matter Defaults
defaults:
  # _posts
  - scope:
      path: "_posts"
      type: posts
    values:
      layout: post
      read_time: true
