/* Syntax highlighting (base16) colors */
$basebg: #3a3a3a;
$basefg: #d0d0d0;
$base00: #4e4e4e;
$base01: #d68787;
$base02: #5f865f;
$base03: #d8af5f;
$base04: #85add4;
$base05: #d7afaf;
$base06: #87afaf;
$base07: #d0d0d0;
$base08: #626262;
$base09: #d75f87;
$base0a: #87af87;
$base0b: #ffd787;
$base0c: #add4fb;
$base0d: #ffafaf;
$base0e: #87d7d7;
$base0f: #e4e4e4;
//#d0d0d0 // cursor
//#3a3a3a // cursor2
//#e4e4e4 // BD
